<div
  id="navbar"
  class="py-3 px-12 rounded-md shadow-[6px_10px_0px_0px_#7b57a4] bg-white flex justify-between gap-20 items-center absolute top-5 right-5"
>
  <div class="w-5 h-5 bg-persian-pink-400"></div>
  <div class="w-5 h-5 bg-persian-pink-400"></div>
  <div class="w-5 h-5 bg-persian-pink-400"></div>
  <div class="w-5 h-5 bg-persian-pink-400"></div>
  <div class="w-5 h-5 bg-persian-pink-400"></div>
</div>

<script>
  import { gsap } from "gsap";
  gsap.from('#navbar', { right: '-520px',duration: 1 })
</script>